<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnHub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

</head>
<body>
    
    <!-- header  -->

    <header class="header">

        <a href="#" class="logo"><i class="fas fa-book"></i> LearnHub </a>

        <nav class="navbar">
            <a href="#home" class="hover-underline">Inicio</a>
            <a href="#about" class="hover-underline">Acerca</a>
            <a href="#courses" class="hover-underline">Cursos</a>
            <a href="#teacher" class="hover-underline">Profesores</a>
            <a href="#review" class="hover-underline">Reseñas</a>
            <a href="#blog" class="hover-underline">Blog</a>
            <a href="#contact" class="hover-underline">Contacto</a>
        </nav>

        <div class="icons">
            <a href="/login">
                <div id="login-btn" class="fas fa-user"></div>
            </a>
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>

        <!-- login form -->

        <!-- <form action="" class="login-form">
            <h3>Login</h3>
            <input type="email" placeholder="enter your email" class="box">
            <input type="password" placeholder="enter your password" class="box">
            <div class="remember">
                <input type="checkbox" name="" id="remember">
                <label for="remember-me">recuerdame</label>
            </div>
            <a href="#" class="btn">
                <span class="text text-1">Entrar</span>
                <span class="text text-2" aria-hidden="true">Entrar</span>
            </a>
        </form> -->

    </header>

    <!-- header  -->

    <!-- home -->

    <section class="home" id="home">

        <div class="content">
            <h3>Los mejores cursos los encontraras aquí</h3>
            <p>¡Bienvenido a LearnHub, tu plataforma educativa en línea para el desarrollo de software! En LearnHub, nos dedicamos a proporcionar cursos de alta calidad y recursos de aprendizaje para ayudarte a alcanzar tus metas en el mundo de la programación </p>
            <a href="#" class="btn">
                <span class="text text-1">leer más </span>
                <span class="text text-2" aria-hidden="true">leer más</span>
            </a>    
        </div>

    </section>

    <!-- home  -->

    <!-- about  -->

    <section class="about" id="about">

        <h1 class="heading">Acerca de</h1>

        <div class="container">

            <figure class="about-image">
                <img src="/assets/images/about.jpg" alt="" height="500">
                <img src="/assets/images/about-1.png" alt="" class="about-img">
            </figure>

            <div class="about-content">
                <h3>18 años de experiencia </h3>
                <p>LearnHub es una iniciativa creada por un equipo de apasionados por la tecnología con el objetivo de democratizar el acceso a la educación en el campo de la informática. Nuestra misión es proporcionar una plataforma accesible y de alta calidad para que cualquier persona, en cualquier parte del mundo, pueda adquirir habilidades técnicas y avanzar en su carrera profesional. </p>
                <p>En LearnHub, nos esforzamos por ofrecer contenido educativo de primera clase, mentoría personalizada y una comunidad de apoyo para impulsar tu éxito en el mundo del desarrollo de software.</p>    
                <a href="#" class="btn">
                    <span class="text text-1">Leer más</span>
                    <span class="text text-2" aria-hidden="true">Leer más</span>
                </a>        
            </div>

        </div>

    </section>

    <!-- about  -->

    <!-- subjects  -->

    <section class="subjects">

        <h1 class="heading">Temas populares</h1>

        <div class="box-container">

            <div class="box">
                <img src="/assets/images/subject-1.png" alt="">
                <h3>Desarrollo</h3>
                <p>Aprende Jugando</p>
            </div>

            <div class="box">
                <img src="/assets/images/subject-2.png" alt="">
                <h3>Matemáticas</h3>
                <p>Aprende Jugando</p>
            </div>

            <div class="box">
                <img src="/assets/images/subject-3.png" alt="">
                <h3>Diseño Grafico</h3>
                <p>Aprende Jugando</p>
            </div>

            <div class="box">
                <img src="/assets/images/subject-4.png" alt="">
                <h3>Robótica</h3>
                <p>Aprende Jugando</p>
            </div>

        </div>

    </section>

    <!-- subject  -->

    <!-- courses  -->

    <section class="courses" id="courses">

        <h1 class="heading">Cursos</h1>

        <div class="box-container">

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/course-1.jpg" alt="">
                    <h3>basic</h3>
                </div>
                <div class="content">
                    <h4>$49.99</h4>
                    <p>Actualizado 05/02/2024</p>
                    <h3>frontend development</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 Lecciones</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/course-2.jpg" alt="">
                    <h3>basic</h3>
                </div>
                <div class="content">
                    <h4>$49.99</h4>
                    <p>Actualizado 05/02/2024</p>
                    <h3>Diseño</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 Lecciones</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/course-3.jpg" alt="">
                    <h3>basic</h3>
                </div>
                <div class="content">
                    <h4>$49.99</h4>
                    <p>Actualizado 05/02/2024</p>
                    <h3>Poo</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 Lecciones</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/course-4.jpg" alt="">
                    <h3>basic</h3>
                </div>
                <div class="content">
                    <h4>$49.99</h4>
                    <p>Actualizado 05/02/2024</p>
                    <h3>Python</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 Lecciones</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/course-5.jpg" alt="">
                    <h3>basic</h3>
                </div>
                <div class="content">
                    <h4>$49.99</h4>
                    <p>Actualizado 05/02/2024</p>
                    <h3>Power Bi</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 Lecciones</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/course-6.jpg" alt="">
                    <h3>basic</h3>
                </div>
                <div class="content">
                    <h4>$49.99</h4>
                    <p>Actualizado 05/02/2024</p>
                    <h3>Análisis de Datos</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>(785)</span>
                    </div>
                    <div class="icons">
                        <span><i class="far fa-bookmark"></i> 15 Lecciones</span>
                        <span><i class="far fa-clock"></i> 8h 25m 9s</span>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- courses  -->

    <!-- teacher  -->

    <section class="teacher" id="teacher">

        <h1 class="heading">Instructores</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="/assets/images/teacher-1.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Juana Paz</h3>
                    <span>Diseñadora Gráfica</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/assets/images/teacher-2.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Zoila Perez</h3>
                    <span>ADB Manager</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/assets/images/teacher-3.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Juan Paz</h3>
                    <span>Full Stack DEvelloper</span>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="/assets/images/teacher-4.png" alt="">
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Andrea Belon</h3>
                    <span>UX / UI</span>
                </div>
            </div>

        </div>

    </section>

    <!-- teacher  -->

    <!-- review  -->

    <section class="review" id="review">

        <h1 class="heading">Opiniones de estudiantes</h1>

        <div class="swiper review-slider">

            <div class="swiper-wrapper">

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/assets/images/review-1.png" alt="">
                        <div class="user-info">
                            <h3>Juan Paz</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/assets/images/review-2.png" alt="">
                        <div class="user-info">
                            <h3>Juan Paz</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/assets/images/review-3.png" alt="">
                        <div class="user-info">
                            <h3>Juan Paz</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/assets/images/review-4.png" alt="">
                        <div class="user-info">
                            <h3>Juan Paz</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/assets/images/review-5.png" alt="">
                        <div class="user-info">
                            <h3>Juan Paz</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide slide">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium laudantium distinctio dolore molestias facilis velit pariatur maiores debitis inventore.</p>
                    <div class="wrapper">
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                        <div class="separator"></div>
                    </div>
                    <i class="fas fa-quote-right"></i>
                    <div class="user">
                        <img src="/assets/images/review-6.png" alt="">
                        <div class="user-info">
                            <h3>Juan Paz</h3>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- review  -->

    <!-- blog  -->

    <section class="blog" id="blog">

        <h1 class="heading">Publicaciones</h1>

        <div class="box-container">

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/blog-1.jpg" alt="">
                    <h3>09 dec 2023</h3>
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                    </div>
                    <h3>Tenemos los mejores cursos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam explicabo minus.</p>
                    <a href="#" class="btn">
                        <span class="text text-1">Leer más</span>
                        <span class="text text-2" aria-hidden="true">Leer más</span>
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/blog-2.jpg" alt="">
                    <h3>09 dec 2023</h3>
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                    </div>
                    <h3>Tenemos los mejores cursos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam explicabo minus.</p>
                    <a href="#" class="btn">
                        <span class="text text-1">Leer más</span>
                        <span class="text text-2" aria-hidden="true">Leer más</span>
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="image shine">
                    <img src="/assets/images/blog-3.jpg" alt="">
                    <h3>09 dec 2023</h3>
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"><i class="fas fa-user"></i>by admin</a>
                    </div>
                    <h3>Tenemos los mejores cursos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam explicabo minus.</p>
                    <a href="#" class="btn">
                        <span class="text text-1">Leer más</span>
                        <span class="text text-2" aria-hidden="true">Leer más</span>
                    </a>
                </div>
            </div>

        </div>

    </section>

    <!-- blog  -->

    <!-- contact  -->

    <section class="contact" id="contact">

        <h1 class="heading">Contáctanos</h1>

        <div class="row">
            <div class="image">
                <img src="/assets/images/contact.png" alt="">
            </div>
            <form action="">
                <h3>Enviar mensaje</h3>
                <input type="text" placeholder="nombre" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="number" placeholder="teléfono" class="box">
                <textarea placeholder="mensaje" class="box" cols="30" rows="10"></textarea>
                <a href="#" class="btn">
                    <span class="text text-1">Enviar</span>
                    <span class="text text-2" aria-hidden="true">Enviar</span>
                </a>
            </form>
        </div>

    </section>

    <!-- contact  -->

    <!-- footer section stars -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>Nuestras Redes</h3>
                <p>Buscanos en nuestras redes sociales</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <h3>Contáctanos</h3>
                <p>+1234 587 1478</p>
                <a href="#" class="link">learnH@lh.com</a>
            </div>

            <div class="box">
                <h3>Dirección</h3>
                <p>Calle 123  <br>
                Quito <br>
                Ecuador</p>
            </div>

        </div>
        <div class="credit">created by <span>RSS Desing </span>| Derechos Reservados</div>
    </section>
    
</body>
</html>
