<app-navbar-d></app-navbar-d>
<app-cells></app-cells>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<body class="body1">
    <div class="container-wrapper">
        <div class="custom-container">
        <h1>Lista de Cursos</h1>
        <form (submit)="saveCurso()">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="custom-form-control" id="nombre" [(ngModel)]="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea class="custom-form-control" id="descripcion" [(ngModel)]="descripcion" name="descripcion"
                    required></textarea>
                </div>
                <div class="form-group">
                    <label for="duracion_meses">Duración en meses:</label>
                <input type="number" class="custom-form-control" id="duracion_meses" [(ngModel)]="duracion_meses"
                    name="duracion_meses" required>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" class="custom-form-control-file" id="imagen" name="imagen"
                    (change)="onFileSelected($event)">
                </div>
                <div class="form-group">
                <label for="costo">Costo:</label>
                <input type="number" class="custom-form-control" id="costo" [(ngModel)]="costo" name="costo" required>
            </div>
            <button type="submit" class="custom-btn custom-btn-primary">Guardar</button>
            <button type="button" class="custom-btn custom-btn-primary" (click)="updateCurso()">
                Actualizar Curso
            </button>
        </form>
    </div>
    
    
    <div class="custom-cursos-list">
        <div *ngFor="let curso of cursosArray" class="custom-curso-item">
            <div class="custom-img-container">
                <img *ngIf="curso.imagen" [src]="curso.imagen" alt="Imagen del curso" class="custom-img-fluid">
            </div>
            <h1>{{ curso.nombre }}</h1>
            <p>{{ curso.descripcion }}</p>
            <p>Duración: {{ curso.duracion_meses }} meses</p>
            <h2>Costo: ${{ curso.costo }}</h2>
            <div class="custom-btn-wrapper">
                <button type="button" class="custom-btn custom-btn-success" (click)="setUpdate(curso)">
                  <i class="bi bi-pencil"></i> Editar
                </button>
              </div>
              <div class="custom-btn-wrapper">
                <button type="button" class="custom-btn custom-btn-danger" (click)="setDelete(curso)">
                  <i class="bi bi-trash"></i> Eliminar
                </button>
              </div>
              
        </div>
    </div>
</div>
</body>