<header class="header">

    <a href="#" class="logo"><i class="fas fa-book"></i> LearnHub </a>

    <nav class="navbar">
        <a href="/home" class="hover-underline">Inicio</a>
        <a href="/profesor" class="hover-underline">Profesores</a>
        <a href="/alumno" class="hover-underline">Alumnos</a>
        <a href="/cursos" class="hover-underline">Cursos</a>
        <a href="/home" class="hover-underline">Soporte</a>
    </nav>

    <div class="icons">
        <!-- <div id="login-btn" class="fas fa-user"></div> -->
        <div id="menu-btn" class="fas fa-bars"></div>
    </div>

    <!-- login form -->

    <div class="logout">
        <h2>Logout</h2>
        <a href="#" class="btn">
            <span class="text text-1">Salir</span>
            <span class="text text-2" aria-hidden="true">Salir</span>
        </a>
    </div>
</header>